{% extends 'base.html' %}
{% block content %}
    <body>


    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Файловий менеджер</h1>
                <p class="lead text-muted">На сервере можно хранить файл с ограниченым временем</p>
                <p>
                    <a href="{% url 'form_upload' %}" class="btn btn-primary my-2">Загрузить файл</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                    <div class="row">
                        {% for obj in documents %}
                              <div class="col-sm-4">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ obj.document.name }}</h5>
                                    <p class="card-text">{{ obj.description }}</p>

                                    <a href="{{ obj.document.url }}" class="btn btn-sm btn btn-success">Посмотреть</a>
                                  </div>
                                    <div class="card-footer">
                                    <small class="text-muted">{{ obj.uploaded_at }}</small>
                                </div>
                                </div>
                              </div>
{#                            <div class="card mb-4 shadow-sm">#}
{#                                <div class="card-body">#}
{#                                    <h5 class="card-title">{{ obj.document.name }}</h5>#}
{#                                    <p class="card-text">{{ obj.description }}</p>#}
{##}
{#                                    <a href="{{ obj.document.url }}" class="btn btn-sm btn btn-success">Посмотреть</a>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                    <small class="text-muted">{{ obj.uploaded_at }}</small>#}
{#                                </div>#}
{#                            </div>#}
                        {% endfor %}
                    </div>

            </div>
        </div>
    </main>
{% endblock %}