{% extends 'base.html' %}
{% block content %}
<body>


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Файловий менеджер</h1>
      <p class="lead text-muted">На сервере можно хранить файл с ограниченым временем</p>
      <p>
        <a href="{% url 'form_upload' %}" class="btn btn-primary my-2">Загрузить файл</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

          {% for obj in documents %}
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img width="100%" height="225" src="{{ obj.document.url }}" class="rounded float-left bd-placeholder-img card-img-top" alt="Картинка не найдена">
{#                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
                    <div class="card-body">
                      <p class="card-text">{{ obj.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{ obj.document.url }}" class="btn btn-sm btn-outline-secondary">Посмотреть оригинал</a>
                        </div>
                        <small class="text-muted">{{ obj.uploaded_at }}</small>
                      </div>
                    </div>
                  </div>
                </div>
          {% endfor %}



      </div>
    </div>
  </div>
</main>
{% endblock %}